1 DEF "d3d9.def"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"  // English (United States)
        BEGIN
            VALUE "CompanyName", "DXProxy Project"
            VALUE "FileDescription", "DXProxy proxy for d3d9.dll"
            VALUE "LegalCopyright", "Copyright (C) 2025 DXProxy Project"
            VALUE "InternalName", "d3d9"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252 // English (United States), ANSI
    END
END
